#submissions > div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

#submissions > * {
	text-align: center;
}

h1, h2 {
	text-align: center;
}

#gamecontainer {
	overflow: hidden;
	text-align: center;
	font-size: 24pt;
	font-family: Helvetica;
}

#players {
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
}

#submissionimage {
	width: 90%;
}

#submissionimage img {
	width: 90%;
}

li > div {
	display: inline-block;
}

li {
	overflow: hidden;
	padding: 0.5em;
	border: 2px dashed black;
	text-align: right;
}
/*
#gamecontainer span {
	margin: 0;
	margin-right: 10%;
}*/

.listname {
	float: left;
}

#submissions.points {
	float: right;
}

textarea {
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

ul {
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	padding-left: 0;
}

#judgebutton {
	margin-left: auto;
	margin-right: auto;
}

#judging > div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.playercaption {
	border: 2px solid black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#judgingimage {
	width: 40%;
}

#judgingimage img {
	width: 90%;
}

.judge {

}

hr {
	border-color: black;
	height: 0.5em;
}

input[type=radio] {
	display: none;
}

.votedplayer {
	color: #3366ee;
	font-size: 125%;
}

.votedplayer:before {
	content: '- ';
}

.votedplayer:after {
	content: ' -';
}

/*.votedplayer:after, .votedplayer:before {
	font-size: 150%;
}*/

.playersubmission {
	text-align: left;
	width: 80%;
	margin: 1em;
}

.playersubmission label {
	margin-left: 5%;
}

q {
	display: block;
}

button {
	font-size: 150%;
}

#judgebutton {
	border-radius: 0.2em;
	font-size: 150%;
}

#nav {
	position: static;
}