/*body {
  padding-top: 50px;
}*/

/*
#gamebody, #gamebody div {
	border: 2px black solid;
}
*/

#gamebody , #gamebody > * {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*#gamebody > div {
	float: left;
}*/

#players {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

ul#playerlist {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

ul#playerlist li div * {
	display: inline-block;
}

ul#playerlist li {
	text-align: left;
	margin: 0.5em;
	font-size: 16pt;
	font-family: Helvetica;
}

ul#playerlist li * {
	vertical-align: middle;
}

.player {
	width: 100%;
}

.playername {
	/*border: 1px black solid;*/
	font-size: 150%;
	font-weight: bold;
	margin-left: 0.5em;
}

#newplayername, .playername {
	width: 75%;
}

ul#playerlist li div {
	overflow: hidden;
}

.addplayerli .btn {
	font-size: 150%;
	font-family: monospace;
	margin: 0.25em;
	width: 10%;
	text-align: center;
	padding: 0px;
}

li > button {
	vertical-align: text-top;
}

#startfooter {
	border-top: 2px dashed black;
	font-size: 24pt;
	font-family: Helvetica;
	margin: 1em;
	padding-top: 1em;
}

#startfooter * {
	height: 100%;
}

#imagecategory {
	text-align: center;
}

#start {
	margin-left: 0.5em;
	vertical-align: text-top;
}